.header__logo{
    width: 142px;
    height: 33px;
    padding-bottom: 41px;
}

@media  screen and (max-width: 670px) {
    .header__logo {
       width: 103px;
       padding-left: 27px;
       padding-bottom: 31.6px;
    }
}

