.header__email{
    
    margin: 0;
    margin-right: 25px;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    text-decoration: none;

}