.profile__name {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    grid-area: profile__name;
}

@media screen and (max-width: 670px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        padding-left: 28px;

    }
}