.element__like-button{
    background-repeat: no-repeat;
    width: 22px;
    height: 19px;
    background-color: white;
    background-size: contain;
    border: none;
    align-self: center;
    background-image: url(../../../images/element__like.svg);
}

.element__like-button:hover{
    opacity: 0.5;
}